@import "tailwindcss";
:root{
    --primary-color: #412567;
    --white-color: #ffffff;
    --gradient-color:  linear-gradient(#FB09B4, #F7E93F,#9100F8);
    --margin-lr: 0 120px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #412567;
}
nav{
    color: var(--white-color);
    margin: var(--margin-lr);
    padding: 30px 0;
    
}
nav h2{
    font-size: 2rem;
    font-weight: bold;
}
 .wave{
  background: linear-gradient(to top right, #F7E93F, #FB09B4,#9100F8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.subscribe{
    font-weight: bold;
    cursor: pointer;
    padding: 12px 24px;
    border-radius: 30px ;
    background: linear-gradient(to top right ,#F7E93F, #FB09B4, #9100F8);
}
.subscribe:hover{
    opacity: 0.7;
}
.fa-arrow-right{
    background: transparent;
    padding-left: 5px;
}
nav ul li a{
    font-weight: 500;
    padding-left: 24px;
    text-decoration: none;


}



nav ul li a:hover{
  
    text-decoration: underline;
  
}
